<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="/assets/css/styles.css" />
    <style>
      #productImg img {
        max-width: 80%;
      }
    </style>
    <script src="https://cdn.transaction.cloud/latest/widget.min.js"></script>

    <title>Buy Credits</title>
  </head>
  <body>
    <%- include('partials/header', {page: "buycredits"}) %>

    <div class="container">
      <div class="row mt-5">
        <div class="col-md-10 m-auto">
          <div class="card card-body">
            <h1 class="text-center mb-3">
              Buy Credits
            </h1>
            <%- include('partials/messages') %>

            <div class="col-md-12">
              <div style="display:flex; flex-wrap:wrap; justify-content:space-between">
                <% products.forEach(function(product) { %>
                <div style="border: 3px solid black; display: inline-table; padding: 10px; border-radius:5%; width:250px; margin:3px">
                  <div style="display: flex; justify-content:center">
                    <h4><span style="margin-left: 10px;" data-ts-product-name data-ts-product="<%= product.id %>"></span><br /></h4>
                  </div>
      
                  <div id="productImg" style="display: flex; justify-content:center" data-ts-product-image data-ts-product="<%= product.id %>"></div><br />
                  <div style="display: flex; justify-content:right">
                    <h4><span style="margin-left: 10px;" data-ts-price data-ts-product="<%= product.id %>"></span><br /></h4>
                  </div>
                 
                  <div style="display: flex; justify-content:center">
                    <button
                      id = "<%= product.buttonID %>"
                      style="border:1px solid rgb(15, 75, 255); border-radius: 10px; background-color:rgb(15, 75, 255); color:white"
                    >
                      Buy Credits
                  </button>
                  </div>

                  <script>
                    document.getElementById("<%= product.buttonID %>").addEventListener('click', () => {
                      tc.buy("<%= product.id %>", {
                        popup:true,
                        email:'<%= user.email %>'
                      }).then (
                        () => {},
                        (error) => {
                          alert(error);
                        }
                      );
                    })
                  </script>
                  
                </div>
                <% }); %>
                
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>

    <%- include('partials/footer') %>

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"
      integrity="sha256-4iQZ6BVL4qNKlQ27TExEhBN1HFPvAvAMbFavKKosSWQ="
      crossorigin="anonymous"
    ></script>
    
    <script>
      $(document).ready(function() {
        document.forms["VINform"].VIN.focus();
        Object.size = function(obj) {
          var size = 0,
            key;
          for (key in obj) {
            if (obj.hasOwnProperty(key)) size++;
          }
          return size;
        };
        
      });

      setTimeout(function() {
        $(".checkbyvinbtn").attr("disabled", "disabled");
      }, 500);
    </script>
  </body>
</html>
